.Trash-*
.idea
tmp
*.tmp
*.bak
*.swp
*~.nib
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
.npm
.eslintcache
.yarn-integrity
.env
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
lib
